<div class="navbar">
    <div class="navbar-logo">
      <a href="/">Home</a>
    </div>
    <div class="navbar-link navbar-burger">
      <i class="fas fa-bars"></i>
    </div>
    <nav class="navbar-items navbar-items-right">
      <% if(locals.isLoggedIn) { %>
      <div>
        <a href="/lists" class="navbar-item">Lists</a>
      </div>
      <div>
        <a href="/lists/new" class="navbar-item">Add a list</a>
      </div>
      <div>
        <a href="/logout" class="navbar-item">Logout</a>
      </div>
      <% } else { %>
      <div>
        <a href="/register" class="navbar-item">Register</a>
      </div>
      <div>
        <a href="/login" class="navbar-item">Login</a>
      </div>
      <% } %>
    </nav>
  </div>
