.jumbotron {
  background: url("https://images.unsplash.com/photo-1509807995916-c332365e2d9e?auto=format&fit=crop&w=1571&q=80");
  background-position: center;
  background-size: cover;
  font-family: $font;
  color: #fff;
}
