<div class="container homepage">
  <div class="row">
    <div class="col-lg-12">
      <div id="content">
        <h1>MixIt</h1>
        <h3>Create your own cocktail happy hour</h3>
        <hr>
        <a class="btn btn-outline-light" href="./cocktails" role="button"><i class="fas fa-glass-martini"></i>  Start mixing!</a>
      </div>
    </div>
  </div>
</div>
