<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>RESTful App</title>
  <% include ./partials/_stylesheets.ejs %>

</head>
<body>
  <% include ./partials/_navbar %>
  <main>
    <%- body %>
  </main>
</body>
</html>
